kaggle yoki githubdan dataset topib for loop orqali toliq preprocessing qilish

In [11]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler, LabelEncoder
encoder=LabelEncoder()
minmax=MinMaxScaler()
robust=RobustScaler()
standard=StandardScaler()

In [3]:
df=pd.read_csv('Diamonds.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53921 non-null  float64
 1   cut      53917 non-null  object
 2   color    53917 non-null  object
 3   clarity  53922 non-null  object
 4   depth    53922 non-null  float64
 5   table    53912 non-null  float64
 6   price    53905 non-null  float64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(7), object(3)
memory usage: 4.1+ MB

In [6]:
#filling the missing dataset with for loop

for col in df.columns:
    if df[col].isnull().any():
        if df[col].dtype=='object':
            df[col].fillna(df[col].mode()[0], inplace=True)
        else:
            df[col].fillna(df[col].mean(), inplace=True)

C:\Users\maxma\AppData\Local\Temp\ipykernel_35088\3806529053.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)
C:\Users\maxma\AppData\Local\Temp\ipykernel_35088\3806529053.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [7]:
df.nunique()

carat        274
cut            5
color          7
clarity        8
depth        185
table        128
price      11588
x            554
y            552
z            375
dtype: int64

In [9]:
#encoding the object values to numeric values using for loop
for col in df.columns:
    if df[col].dtype=='object':
        if df[col].nunique()<=10:
            dummies=pd.get_dummies(df[col], prefix=col, dtype=int)
            df=pd.concat([df.drop(columns=col),dummies], axis=1)
        else:
            df[col]=encoder.fit_transform(df[col])

In [13]:
#scaling using for loop

for col in df.columns:
    if df[col].dtype!='object':
        df[col]=minmax.fit_transform(df[[col]])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   carat          53940 non-null  float64
 1   depth          53940 non-null  float64
 2   table          53940 non-null  float64
 3   price          53940 non-null  float64
 4   x              53940 non-null  float64
 5   y              53940 non-null  float64
 6   z              53940 non-null  float64
 7   cut_Fair       53940 non-null  float64
 8   cut_Good       53940 non-null  float64
 9   cut_Ideal      53940 non-null  float64
 10  cut_Premium    53940 non-null  float64
 11  cut_Very Good  53940 non-null  float64
 12  color_D        53940 non-null  float64
 13  color_E        53940 non-null  float64
 14  color_F        53940 non-null  float64
 15  color_G        53940 non-null  float64
 16  color_H        53940 non-null  float64
 17  color_I        53940 non-null  float64
 18  color_J        53940 non-null  float64
 19  clarity_I1     53940 non-null  float64
 20  clarity_IF     53940 non-null  float64
 21  clarity_SI1    53940 non-null  float64
 22  clarity_SI2    53940 non-null  float64
 23  clarity_VS1    53940 non-null  float64
 24  clarity_VS2    53940 non-null  float64
 25  clarity_VVS1   53940 non-null  float64
 26  clarity_VVS2   53940 non-null  float64
dtypes: float64(27)
memory usage: 11.1 MB

In [17]:
#scaling without using for loop
num_col=df.select_dtypes(include=['float64','int64']).columns
df[num_col]=robust.fit_transform(df[num_col])

The End

In [ ]:
#Nested if bo‘yicha 10 ta masala
# Foydalanuvchidan son kiriting. Agar musbat bo‘lsa, uni juft yoki toqligini aniqlang.

# Foydalanuvchidan yoshini so‘rang. Agar 18 yoki undan katta bo‘lsa, yana tekshirib 65 dan kichik bo‘lsa → "Katta yoshli", bo‘lmasa "Qari".

# Uchta son kiriting. Ichma-ich if yordamida eng kattasini toping.

# Bitta belgi kiriting. Agar u harf bo‘lsa, yana tekshirib unli yoki undosh ekanligini aniqlang.

# Foydalanuvchidan imtihon bahosini kiriting. Agar baho ≥ 50 → "O‘tdi", bo‘lmasa "Yi qildi". Agar o‘tdi va baho ≥ 90 bo‘lsa → "A'lo".

# Son kiriting. Agar son 2 ga bo‘linsa, yana tekshirib 3 ga ham bo‘linishini aniqlang.

# Haroratni kiriting. Agar 0 dan katta bo‘lsa → "Muzlashdan yuqori". Agar 30 dan katta bo‘lsa → "Issiq". Agar 0 dan kichik bo‘lsa → "Muzlash" deb chiqaring.

# Svetofor rangini kiriting (qizil, sariq, yashil). Agar yashil → "Yur", agar qizil → "To‘xta", agar sariq → "Kut".

# Bir yilni kiriting. Agar yil 4 ga bo‘linsa va 100 ga bo‘linmasa yoki 400 ga bo‘linsa → "Kabisa yili", bo‘lmasa "Oddiy yil".

# Ikki son kiriting. Agar birinchi > ikkinchi bo‘lsa → "Birinchi katta", agar teng bo‘lsa → "Teng", aks holda "Ikkinchi katta".

In [21]:
son = int(input('Sonni kiriting:'))
if son > 0:
    if son % 2 == 0:
        print('juft')
    else:
        print('toq')
else:
    print('musbat son kiriting')

toq

In [22]:
yosh = int(input("Yoshingizni kiriting: "))
if yosh >= 18:
    if yosh < 65:
        print("Katta yoshli")
    else:
        print("Qari")
else:
    print("18 yoshdan kichik")

Katta yoshli

In [24]:
son1=int(input('1-Sonni kiriting:'))
son2=int(input('2-Sonni kiriting:'))
son3=int(input('3-Sonni kiriting:'))
if son1>son2:
    if son1>son3:
        print(f'{son1} eng katta son')
    else:
        print(f'{son3} eng katta son')
else: 
    if son2>son3:
        print(f'{son2} eng katta son')
    else:
        print(f'{son3} eng katta son')

94 eng katta son

In [25]:
belgi=input('belgi kiriting: \n')
if belgi.isalpha():
    if belgi.lower() in 'aeoiu':
        print ('unli harf belgisi')
    else:
        print('Undosh harf beligisi')
else:
    print('belgini togri kiriting')

belgini togri kiriting

In [ ]:
baho = int(input("Imtihon bahosini kiriting: "))
if baho >= 50:
    print("O‘tdi")
    if baho >= 90:
        print("A'lo")
else:
    print("Yi qildi")

In [ ]:
son = int(input("Son kiriting: "))
if son % 2 == 0:
    print("Son 2 ga bo'linadi")
    if son % 3 == 0:
        print("Son 3 ga ham bo'linadi")
    else:
        print("Son 3 ga bo'linmaydi")
else:
    print("Son 2 ga bo'linmaydi")

In [26]:
harorat = int(input("Haroratni kiriting: "))
if harorat > 0:
    if harorat > 30:
        print("Issiq")
    else:
        print("Muzlashdan yuqori")
else:
    print("muzlash")

Issiq

In [ ]:
rang = input("Svetofor rangini kiriting (qizil, sariq, yashil): ").lower()
if rang == "yashil":
    print("Yur")
else:
    if rang == "qizil":
        print("To‘xta")
    elif rang == "sariq":
        print("Kut")
    else:
        print("Noto'g'ri rang kiritildi")

In [ ]:
yil = int(input("Yilni kiriting: "))
if yil % 4 == 0:
    if yil % 100 != 0 or yil % 400 == 0:
        print("Kabisa yili")
    else:
        print("Oddiy yil")
else:
    print("Oddiy yil")

In [ ]:
son1 = int(input("Birinchi sonni kiriting: "))
son2 = int(input("Ikkinchi sonni kiriting: "))

if son1 > son2:
    print("Birinchi katta")
else:
    if son1 == son2:
        print("Teng")
    else:
        print("Ikkinchi katta")

In [ ]:
#List comprehension bo‘yicha 10 ta masala
# 1 dan 10 gacha bo‘lgan sonlar ro‘yxatini tuzing.

# 1 dan 10 gacha bo‘lgan sonlarning kvadratlari ro‘yxatini yarating.

# 1 dan 20 gacha bo‘lgan juft sonlar ro‘yxatini tuzing.

# 1 dan 10 gacha sonlar uchun "Juft" yoki "Toq" degan yozuvlardan iborat ro‘yxat tuzing (if else bilan).

# 1 dan 20 gacha bo‘lgan sonlardan faqat 3 ga bo‘linadigan sonlar ro‘yxatini yarating.

# 1 dan 10 gacha sonlar ro‘yxatini tuzing, agar son 2 ga bo‘linsa "Ikki" deb yozing, bo‘lmasa sonning o‘zini yozing.

# Berilgan so‘zlar ro‘yxatidan faqat uzunligi 4 dan katta bo‘lgan so‘zlarni ajratib oling.

# Berilgan so‘zlar ro‘yxatini har bir so‘zni katta harflar bilan yozilgan ko‘rinishga aylantiring.

# 1 dan 30 gacha bo‘lgan sonlardan faqat 5 ga bo‘linadigan sonlarni tanlab ro‘yxat tuzing.

# 1 dan 15 gacha sonlardan: agar son juft bo‘lsa → sonning kvadrati, agar toq bo‘lsa → sonning kubini ro‘yxatga yozing.

In [29]:
lst = [i for i in range(1, 11)]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
# 1 dan 10 gacha bo‘lgan sonlarning kvadratlari ro‘yxatini yarating.
lst = [i**2 for i in range(1, 11)]
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
# 1 dan 20 gacha bo‘lgan juft sonlar ro‘yxatini tuzing.

juft_sonlar = [i for i in range(1, 21) if i % 2 == 0]
print(juft_sonlar)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# 1 dan 10 gacha sonlar uchun "Juft" yoki "Toq" degan yozuvlardan iborat ro‘yxat tuzing (if else bilan).
juft_toq = ["Juft" if i % 2 == 0 else "Toq" for i in range(1, 11)]
print(juft_toq)

In [35]:
# 1 dan 20 gacha bo‘lgan sonlardan faqat 3 ga bo‘linadigan sonlar ro‘yxatini yarating.
lstt=[i for i in range (1,21) if i%3==0 ]
print(lstt)

[3, 6, 9, 12, 15, 18]

In [ ]:
# 1 dan 10 gacha sonlar ro‘yxatini tuzing, agar son 2 ga bo‘linsa "Ikki" deb yozing, bo‘lmasa sonning o‘zini yozing.
['ikki' if i%2==0 else i for i in range(1,11) ]

In [38]:
# Berilgan so‘zlar ro‘yxatidan faqat uzunligi 4 dan katta bo‘lgan so‘zlarni ajratib oling.
soz = ["olma", "banan", "shaftoli", "gilos", "ananas", "uzum"]
sozlar = [i for i in soz if len(soz) > 4]
print(sozlar)

['olma', 'banan', 'shaftoli', 'gilos', 'ananas', 'uzum']

In [ ]:
# Berilgan so‘zlar ro‘yxatini har bir so‘zni katta harflar bilan yozilgan ko‘rinishga aylantiring.
sozlar2 = ["olma", "banan", "shaftoli", "gilos", "ananas", "uzum"]
katta_sozlar = [o.upper() for o in sozlar2]
print(katta_sozlar)

In [ ]:
# 1 dan 30 gacha bo‘lgan sonlardan faqat 5 ga bo‘linadigan sonlarni tanlab ro‘yxat tuzing.
beshga_bolinadigan = [i for i in range(1, 31) if i % 5 == 0]
print(beshga_bolinadigan)

In [39]:
# 1 dan 15 gacha sonlardan: agar son juft bo‘lsa → sonning kvadrati, agar toq bo‘lsa → sonning kubini ro‘yxatga yozing.
[i**2 if i%2==0 else i**3 for i in range (1,16)]

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100, 1331, 144, 2197, 196, 3375]