In [ ]:
son = 10
if son % 2 == 0:
    print("yaxshi")
else:
    print("yomon")

In [ ]:
son = -5
if son > 0:
    print("yaxshi")
else:
    print("yomon")

In [ ]:
son = 15
if son % 5 == 0 and son % 3 == 0:
    print("yaxshi")
else:
    print("yomon")

In [ ]:
soz = "alfa"
if soz[0]=='a':
    print("yaxshi")
else:
    print("yomon")

In [ ]:
soz = "beta"
if soz[-1]=='a':
    print("yaxshi")
else:
    print("yomon")

In [ ]:
soz = "banana"
if soz[0]=='b' and soz[-1]=='a':
    print("yaxshi")
else:
    print("yomon")

In [ ]:
number = int(input("Son kiriting: "))
if number > 0:
    print("Berilgan son musbat.")
else:
    print("Bu son musbat emas.")

In [ ]:
number = int(input("Son kiriting: "))
if number < 0:
    print("Berilgan son manfiy .")
else:
    print("Bu son manfiy emas.")

In [ ]:
number = int(input("Son kiriting: "))
if number % 2 == 0:
    print("Berilgan son 2 ga bo'linadi.")
else:
    print("Bu son 2 ga bo'linmaydi.")

ML ANSWERS

In [ ]:
df['column_name'].fillna(df['column_name'].mean(), inplace=True)

In [ ]:
df['column_name'].fillna(df['column_name'].mode()[0], inplace=True)

In [ ]:
df['column_name'].fillna(df['column_name'].median(), inplace=True)

In [ ]:
df['column_name'].fillna(0, inplace=True)

In [ ]:
df.drop('column_to_drop', axis=1, inplace=True)