In [18]:
import pandas as pd

In [19]:
df=pd.read_csv('student-por.csv', sep=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         637 non-null    float64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        638 non-null    float64
 7   Fedu        635 non-null    float64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  638 non-null    float64
 13  studytime   636 non-null    float64
 14  failures    635 non-null    float64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      638 non-null    float64
 24  freetime    636 non-null    float64
 25  goout       637 non-null    float64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: float64(9), int64(7), object(17)
memory usage: 167.4+ KB

In [21]:
df['age'].fillna(df['age'].mean(), inplace=True)

C:\Users\maxma\AppData\Local\Temp\ipykernel_14068\1503503937.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].mean(), inplace=True)

In [23]:
df['address'].fillna(df['address'].mode()[0], inplace=True)

In [24]:
df['traveltime'].fillna(df['traveltime'].median(), inplace=True)

C:\Users\maxma\AppData\Local\Temp\ipykernel_14068\450224329.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['traveltime'].fillna(df['traveltime'].median(), inplace=True)

In [25]:
df['studytime'].fillna('y', inplace=True)

C:\Users\maxma\AppData\Local\Temp\ipykernel_14068\722650640.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['studytime'].fillna('y', inplace=True)
C:\Users\maxma\AppData\Local\Temp\ipykernel_14068\722650640.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'y' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['studytime'].fillna('y', inplace=True)